* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Shrikhand,sans-serif;
    margin: auto;
}

main {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px 50px 0 0;
    border: white solid 1px; /*ne marche pas sans*/
    background-color: var(--verylightgrey);
    margin-top: -70px;
}

:root {
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;

    --darkgrey:#353535;
    --grey:#4D4D4D; 
    --mediumgrey: #7E7E7E;
    --lightgrey: #EAEAEA;
    --verylightgrey: #F6F6F6;
}

/*HEADER*/

header {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

header img {
    width: 50%;
    padding: 5%;
}

a {
    text-decoration: none;
}

header i {
    position: absolute;
    font-size: 30px;
    color: var(--grey);
    left: 25px;
    top: 25px;
}

.picture {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1; 
}

/*MENU*/

h1 {
    font-family: "Shrikhand";
    font-size: 35px;
    margin: 30px;
}

main div {
    display: flex;
}

main div i {
    position: absolute;
    right: 10%;
    top: 2.5%;
    font-size: 30px;
}

.fa-solid.fa-heart {
    transition: 300ms;
    opacity: 0;
}

.fa-solid.fa-heart:hover {
    opacity: 1;
    background: linear-gradient(to bottom left, var(--primary), var(--secondary));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

h2::after {
    content: "";
    position: relative;
    display: block;
    margin-top: 10px;
    width: 50px;
    height: 3px;
    background-color: var(--tertiary);
}

main section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

article {
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px var(--lightgrey);
    cursor: pointer;
    background-color: white;
    /*animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
    animation-fill-mode: both;*/
}

span {
    font-weight: bold; /*ne marche pas*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/*@keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }*/

h3 {
    font-weight: bold; /*ne marche pas*/
    margin: 0;
}

p {
    margin: 0%;
}

i {
    
}



















/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    background-color: #353535;
    padding: 30px 0px 30px 30px;
}

footer img {
    width: 150px; 
    margin-bottom: 20px;
    filter: invert(100%);
}

footer a {
    display: flex;
    align-items: center;
    font-size: 18px;
    column-gap: 10px;
    text-decoration: none;
    color: white;
}

footer p {
    margin: 10px 0px;
}
